.All-Stats {
  height: 75vh;
}

.Detail-Container {
  background-color: #5788e4;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  li {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li:nth-child(even) {
    background-color: #5788e4;
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }
}
